# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.iml

# Docker
*.env
docker-compose.override.yml

# Alembic migrations
alembic/versions/*.pyc

# Test output
htmlcov/
.coverage
.pytest_cache/

# MacOS
.DS_Store

